<div class="col-12">
  <!-- autocomplete -->
 <input style="width: 100%"
        placeholder="-meni- Pretraivanje proizvoda   -some action-"
 />

</div>


<!-- must be scrollable to left (responsive and lots of data)   -->
<div class="row">

  <div class="col">
    <!-- icon dropdown autocomplete multiselect -->
    <button style="width: 100%"> n locations  </button>
  </div>

  <div class="col">
    <!-- icon dropdown autocomplete multiselect -->
    <button style="width: 100%"> n locations </button>
  </div>

  <div class="col" >
    <!-- icon input number -->
    <input style="width: 100%" placeholder="price min" />
  </div>

  <div class="col" >
    <!-- icon input number -->
    <input style="width: 100%" placeholder="price max" />
  </div>
</div>

<!-- save search -->

<!-- sortiranje u tablici -->
<!-- izbor grid ili lista u tablici -->
<table class="table table-borderless">
<tbody>
  <tr>
    <th scope="row" > 1 </th>
    <td> Konzum </td>
    <td> Kruh </td>
    <td> 12.45 </td>
  </tr>

  <tr>
    <th scope="row" > 2 </th>
    <td> Konzum </td>
    <td> Kruh </td>
    <td> 12.45 </td>
  </tr>

</tbody>
</table>
